@import "variables";

.tabs {
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
  font-family: $fontFamily;
  label {
    background: #eee;
    padding: 10px;
    border: 2px solid ;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }

  [type=radio] {
    display: none;
  }
}

.tab.first {
  margin-left: 30px;
}

.tab-content {
  position: absolute;
  height: 100%;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 2px solid black;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 3px solid white;
  z-index: 3;
  ~ .tab-content {
    z-index: 1;
  }
}

.question {
  color: blue;
  .comment {
    background-color: #C4E3F2;
  }
}

.answer {
  color: #07923F;
  .comment {
    background-color: #CEE2D6;
  }
}

.comment {
  min-height: 30px;
  padding-left: 30px;
  line-height: 30px;
}

article p {
  padding: 5px 0;
}